
body{
    background-color: #ffffff;
    color: #292929;
    font-family: Roboto;
    padding:0;
    margin:0;
}

#landing-title{
    font-size: 60px;
    margin-top: 35vh;
    margin-bottom: 0px;
    text-align: left;
    overflow: auto;
    position: relative;
}

#landing-section{
    width: 40vw;
    text-align: left;
    margin-left: 7vw;
    margin-bottom: 40vh;
    overflow: auto;
    position: relative;
    display: flexbox;
    overflow: auto;
    position: relative;
}

#title-description{
    text-align: left;
    font-size: 25px;
    color: rgb(126, 126, 126);
    margin-bottom: 3vh;
    overflow: auto;
    position: relative;
}

#landing-page-img{
    float: right;
    justify-content: right;
    width: 10vw;
    overflow: auto;
    position: relative;
}

#projects-section{
    margin-top: 0vh;
    padding-top: 0vh;
    background-color: rgb(17, 24, 39);
    margin-bottom: 05vh;
}

#projects-title{
    margin-top: 0vh;
    padding-top: 4vh;
    padding-bottom: 3vh;
    text-align: center;
    font-size: 65px;
    color: rgb(255, 255, 255); 
    margin-bottom: 1vh;
}

.projects-spotlight{
    display: flex;
    justify-content: center; /* Center items horizontally */
    flex-direction: row;
    margin-right: 9vh;
    margin-left: 9vh;
}

#projects-spotlight1{
    display: flex;
    justify-content: center;

    background-image: url("images/minecraft-project-image.png");
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
    margin-top: 3vh;
}

#projects-spotlight1:hover{
    opacity: 0.85;
}

.projects-section{
    background-color: #FFF9D0;
    padding-bottom: 60vh;
}

hr{
    border: none;
    height: 4.0px;
    background-color: rgba(255, 255, 255, 0.347);
}

a{
    color: rgb(33, 33, 33);
}

#gradient{
    background: rgb(255,255,255);
   
    padding-bottom: 20vh;
}

#resume-button{
    border-color: rgb(253, 85, 85); 
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(253, 85, 85); 
    color: #ffffff;
    padding-top: 0.6vh;
    padding-bottom: 0.6vh;
    padding-left: 0.9vw;
    padding-right: 0.9vw;
    font-weight: bold;
    transition: 150ms;
    font-size: 23px;
    margin-top: 3vh;
}

#resume-button:hover{
    color:rgb(255, 255, 255);
    border-color: rgb(253, 131, 131); 
    background-color: rgb(253, 131, 131); 
    border-style: solid;
    cursor: pointer;
}