
body{
    background-color: rgb(31, 31, 31);
    color: rgb(238, 238, 238);
}

h2{
    text-align: center;
    
}

nav{
    font-size:x-small;
    text-align: center;
}

a{
    color:aliceblue;
}

a:visited{
    color: rgb(130, 130, 130);
}

a::view-transition

hr{
  border: none;
  height: 0.5px;
  background-color: #cccccc;  
}