.landing-title{
    margin-bottom: 0px;
    text-align: left;
    position: relative;
}

#text-section{
    display: flexbox;
    width: 30vw;
    text-align: left;
    margin-left: 7vw;
    overflow: auto;
    position: relative;
    overflow: auto;
    padding-bottom: 10vh;
}

#landing-container{
    padding-bottom: 10vh;
    display: flex;
    padding-top: 30vh;
    background-color: rgb(255, 255, 255);
}

#landing-page-img{
    width: 21%;
    height: 21%;
    margin-right: 5vw;
    float: right;
    margin-left: 20vw;
    border-width: 0px;
    border-style: solid;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.479) 0 0 20px 1px;
    border-radius: 50%;
}

#resume-button{
    background-color: white;
    border-radius: 20px;
    border-color: rgba(253, 131, 131, 0); 
    border-style: solid;
    color: rgb(76, 174, 255); 
    font-size: 23px;
    padding-top: 0.6vh;
    padding-bottom: 0.6vh;
    padding-left: 0.9vw;
    padding-right: 0.9vw;
    margin-left: 10vw;
    box-shadow: rgb(76, 174, 255) 0 0 15px 1px;
    transition: 150ms;
    margin-top: 2vh;
    animation: moveUpDown 2s infinite;
}

#resume-button:hover{
    box-shadow: rgb(58, 166, 254) 0 0 21px 2px;
    color: rgb(58, 166, 254);
    cursor: pointer;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
}

@keyframes success{
    0%{

    }
    100%{

    }
}

.typing-effect{
    font-size: 29px;
    white-space: nowrap;
    overflow: hidden;
    animation: caret 0.75s steps(1) infinite;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-weight: bold;
    color: #5d5d5d;
}

@keyframes caret {
    50% { border-color: transparent; }
}

.text-description{
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 25px;
    color: rgb(104, 104, 104);
    line-height: 40px;
    padding-bottom: 10vh;
}

.skills-section{
    margin-top: 0vh;
    padding-bottom: 30vh;
    margin-bottom: 0;
}



