.button-black{
    padding: 0.4rem 1.1rem 0.4rem 1.1rem;
    background-color: black;
    color: white;
    border-radius: 25px;
    border: none;
    transition: 150ms;
    animation: upToDown 2.5s infinite;
}

.button-black:hover{
    background-color: #323232;
    cursor: pointer;
}

@keyframes upToDown {
  0%, 100% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-4px);
}

}


.github-button{
    border: 2px solid;
    border-color: #ff9823;
    color: #ff9823;
    transition: 150ms;
    margin-top: auto;
    margin-right: auto;
}

.github-button:hover{
    background-color: #ff9823;
    color: white;
}