.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    align-items: center;
    color: #242424;
    position: fixed;
    width: 100vw;
    top: 0%;
    background-color: white;
}

.navbar-title{
    font-size: 1.5rem;
    margin-left: 2rem;
}

.navbar-list{
    display: flex;
    gap: 4rem;
    margin-right: 7rem;
}

.navbar-list > li > a{
    font-size: 1.5rem;
}

.navbar-link{
}
.navbar-link:hover{
    text-underline-offset: 0.5rem;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.navbar-contact{
    color: white;
    background-color: #3fadfc;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 20px;
    text-decoration: none;
    transition: 150ms;
}

.navbar-contact:hover{
    background-color: #5fbcfe;
}