

.title-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10rem;
}

.skills-section{
    margin-bottom: 20rem;
}