
/**#314752;    <---- Compare the two colors OR Gray*/
#blog-section{
    color: white;
    background-color: #314752;
    padding-bottom: 30vh;
    margin-bottom: 10vh;
}

#blog-title{
    text-align: center;
    font-size: 60px;
    padding-top: 5vh;
}

#blog-posts-allignment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#blog-post{
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 6vw;
    padding-right: 6vw;
    margin-right: 3vw;
    margin-left: 3vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    max-width: 15vw;
}

#blog-post:hover{
    background-color: rgb(244, 244, 244);
    cursor: pointer;
}

.blog-post-img{
    width: 4vw;
    height: auto;
    object-fit: contain;
}