body{
    background-color: rgb(239, 251, 255);
    color: #3d4058;
    font-family: Roboto;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}

.font-20px{
    font-size: 20px;
}

.font-30px{
    font-size: 30px;
}

.font-40px{
    font-size: 40px;
}

.font-50px{
    font-size: 50px;
}

.font-60px{
    font-size: 60px;
}

.font-70px{
    font-size: 70px;
}

.bold{
    font-weight: bold;
}

.blue-color-gradient{
    background: -webkit-linear-gradient(0deg, rgb(33, 144, 255) 0%, rgb(119, 203, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.white-section{
    background-color: white;
    margin-bottom: 30vh;
}

.text-center{
    text-align: center;
}

.padding-top{
    padding-top: 5vh;
}

.padding-bottom{
    padding-bottom: 5vh;
}